<%= simple_form_for(@loan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :thing %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
